.getMyPlanTitle {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
  line-height: 65px;
}
.getMyPlanDescription {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 15px;
  padding-top: 20px;
}
.planNow {
  color: #6c5dd3;
  font-weight: 600;
  margin-left: 5px;
}
.stepByStepSection {
  background-color: #6c5dd3;
  margin-right: -12px;
  margin-left: -12px;
  height: 600px;
}
.stepGuideSection {
  color: #ffffff;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
.percentCover {
  border-radius: 120px;
  padding: 50px;
  background: #6c5dd3;
  color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

@media (max-width: 992px) {
  .questiongif {
    width: 100% !important;
    height: auto;
  }
}
.paymentCard {
  background: #6c5dd3;
  color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 20px;
  border-radius: 20px;
}
