.getMyPlanTitle {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
  line-height: 65px;
}
.getMyPlanDescription {
  text-align: center;
  width: 40%;
  margin: auto;
  font-size: 15px;
  padding-top: 20px;
}
.planNow {
  color: RGB(39, 55, 79);
  font-weight: 600;
  margin-left: 5px;
}
.stepByStepSection {
  background-color: #6c5dd3;
  margin-right: -12px;
  margin-left: -12px;
  height: 600px;
}
.stepGuideSection {
  color: #ffffff;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}
.percentCover {
  border-radius: 120px;
  padding: 50px;
  background: #6c5dd3;
  color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

@media (max-width: 992px) {
  .questiongif {
    width: 100% !important;
    height: auto;
  }
}

.paymentCard {
  background: #fdfdfd;
  color: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid;
}

.paymentCardOne {
  background: #e7e7e7;
  color: rgb(139 132 132);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid;
}

.paymentHeader {
  background: RGB(39, 55, 79);
  padding: 70px;
  margin-top: -25px;
  color: white;
  margin-bottom: 36px;
  background-image: url("../assets/mentoringIndia.png");
}

.paymentInfo {
  width: 600px;
  margin: auto;
  margin-top: 45px;
}

.step3_mentor {
  border: 1px solid;
  padding: 20px;
}

.steps {
  text-align: center;
  font-weight: 900;
}

.borderSteps {
  margin-top: 100px;
  border: 1px solid wheat;
  padding: 20px;
  background: antiquewhite;
}
