@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

.fontTest {
  font-family: "Rubik", Beastly;
}

.impactStyle {
  border: 1px solid #e5e5e5;
  margin-left: 44px;
  margin-bottom: 50px;
  padding: 30px;
  text-align: center;
  box-shadow: 4px 5px antiquewhite;
  border-radius: 7px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .impactStyle {
    margin-left: 0px;
    margin-bottom: 50px;
  }
}
