.options {
  margin: 10px;
}
.question-text {
  padding: 13px;
  font-size: 26px;
  font-weight: 800;
}
.options {
  border-radius: 20px;
  background-color: RGB(39, 55, 79);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;
  min-width: 248px;
  min-height: 100px;
}

.question-count {
  padding: 13px;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  color: RGB(39, 55, 79);
  font-weight: 800;
}

.circleOption {
  border: none;
  padding: 26px;
  border-radius: 50px;
  margin-right: 35px;
  font-size: 35px;
}
/* .options span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
} */

/* .options span:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
}  */

.score-section {
  text-align: center;
  padding: 30px;
  background: #f4511e;
}
.register {
  border: none;
  padding: 10px;
  margin-top: 20px;
}
.questionRightBar {
  margin-top: -24px;
  /* background-color: #6c5dd3; */
  padding: 29px;
  color: #000000c1;
}
.imgAnswer {
  width: 40px;
  display: -webkit-inline-box;
  padding: -14px;
  margin-right: 16px;
}
.Img-card {
  display: flex;
  align-items: center;
  border: 10px solid #ffffff;
  margin-left: 22%;
  width: 50%;
  justify-content: center;
  background-color: #ffff;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 14px;
}
/* Subscription */
.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card1 {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
}

.card1 .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(249, 198, 26, 1);
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: "";
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}

.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}

.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 1);
}

.checkMarks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
}
.planWrapper {
  flex-direction: column;
}
.takeEmail {
  border: 1px solid #a4a4a4;
  border-radius: 43px;
  padding: 14px 30px;
  margin-bottom: 30px;
  width: 40%;
}
input:focus {
  outline: none;
}
.emailButton {
  background-color: RGB(39, 55, 79);
  color: rgb(255, 255, 255);
  padding: 16px 10px;
  border-radius: 43px;
  max-width: 327px;
  margin: 0 auto 23px auto;
  width: 30%;
  border: 0;
}
.emailPhoneWrapper {
  display: contents;
}
.days {
  margin-left: 33px;
}
.timerText {
  font-size: 20px;
}
.timeHead {
  font-size: 60px;
  font-weight: 900;
}
.timerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #6c5dd3;
  border-radius: 50%;
  display: inline-block;
  padding: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.do1 {
  height: 60px;
  width: 60px;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
  padding: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.improvementCardHeader {
  padding-left: 30px;
  font-size: 17px;
  margin-bottom: -19px;
  font-weight: bold;
}

.paymentCardHeader {
  font-size: 17px;
  margin-bottom: -19px;
  font-weight: bold;
  padding: 20px;
}

.improvementCardSkill {
  background-color: rgb(234, 140, 52);
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 15px;
  color: white;
  font-weight: 900;
}

.improvementCard {
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 20px;
  border: 1px dashed;
}
.stepDownCard {
  background-color: #f9f9f9;
  color: black;
  padding: 10px;
  border-radius: 20px;
  margin-left: 23px;
  height: 225px;
}
.footer {
  background: #efefef;
  padding: 20px;
  color: black;
  font-weight: bold;
  border-top: 1px solid #8b8b8b;
  align-items: center;
}
.instruction {
  padding: 20px;
  background: #6c5dd3;
  color: white;
}

.habbitDot {
  height: 150px;
  width: 150px;
  background-color: rgb(245 173 106);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  font-weight: 600;
}

/* Comments------------- */
.commentCard {
  display: flex;
  border-radius: 25px;
  border: 1px solid;
  padding: 50px;
  height: 300px;
}
.commentImg img {
  border-radius: 17%;
  width: 500px;
}

.commentContent {
  margin-left: 20px;
}

.button__outLine {
  border: 1px solid black;
}

.dropOpt {
  height: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-logo {
    margin-left: 85px;
  }

  .Img-card {
    margin-left: 10%;
    width: 78%;
  }

  .iFrame {
    display: none;
  }
  .takeEmail {
    width: 100%;
  }
  .emailButton {
    width: 100%;
  }
  .commentCard {
    display: flex;
    border-radius: 25px;
    border: 1px solid;
    padding: 50px;
    height: 450px;
  }
  .stepDownCard {
    height: 280px;
  }
  .footerText {
    font-size: 11px;
  }
}
