/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", cursive; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Slab", serif; */

  font-family: "Open Sans", sans-serif;
}

main {
  min-height: 80vh;
}
.mainWrapper {
  background: aliceblue;
  padding: 70px;
  box-shadow: 10px 10px;
}
.button-color {
  background-color: RGB(39, 55, 79);
  border: 0;
  font-size: 21px;
}
.button-color:hover {
  background-color: rgb(58, 76, 105);
  border: 0;
}
.mainBanner {
  background: #6c5dd3;
  color: white;
}
.infoMain {
  padding: 80px;
}
.spinner-border {
  height: 200px;
  width: 200px;
  margin: auto;
  display: flex;
}
.loaderComponent {
  margin-top: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 51px;
}
.stepsTo {
  margin-top: 100px;
}
.bottomMain {
  background-color: #b62d77;
  display: flex;
  flex-direction: row-reverse;
  bottom: 0;
  align-items: center;
  padding: 10px;
  color: white;
}
.subswrap {
  width: 20px;
  margin: auto;
}

.dDVmpr {
  background-color: RGB(39, 55, 79) !important;
  box-shadow: none !important;
}

.hBeDhF {
  background-color: rgb(0 0 0 / 10%) !important;
}
